<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unifai News</title>
  <link rel ="stylesheet" href ="/css/style.css"> 
</head>
<body>
  <header>
    <div class="header__logo">Unifai News Page</div>
    <div class="header__search">Search</div>
  </header> 

  <div class="wrapper">
    <div class="news">
      <% articles.forEach(function(article, index) {%>
        <a href="#" class=""news__card">
          <!-- <%- console.log('this is articles: ', article) %>  -->
          <h2>
            <%- article.title %>
          </h2>
          <p>the Link</p>
        </a>
      <% }) %> 
      </div>
  </div>"



</body>
</html>